{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ tasks.name }}</h1>
        <p>{{ tasks.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if tasks.tasks.count == 0 %}
            <p>This project has no tasks.</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in tasks.tasks.all %}
                    <tr>
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.assignee.username }}</td>
                        <td>{{ tasks.start_date }}</td>
                        <td>{{ tasks.due_date }}</td>
                        <td>{{ tasks.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}